<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="SLF4J" />
	</settings>
	<mappers>
		<mapper resource="fr/gouv/diplomatie/applitutoriel/integration/dao/maps/Civilite_SqlMap.xml" />
		<mapper resource="fr/gouv/diplomatie/applitutoriel/integration/dao/maps/Partenaire_SqlMap.xml" />
		<mapper resource="fr/gouv/diplomatie/applitutoriel/integration/dao/maps/Pays_SqlMap.xml" />
		<mapper resource="fr/gouv/diplomatie/applitutoriel/integration/dao/maps/Ville_SqlMap.xml" />
		<mapper resource="fr/gouv/diplomatie/applitutoriel/integration/dao/maps/Produit_SqlMap.xml" />
		<mapper resource="fr/gouv/diplomatie/applitutoriel/integration/dao/maps/Secteur_SqlMap.xml" />
		<mapper resource="fr/gouv/diplomatie/applitutoriel/integration/dao/maps/Utilisateur_SqlMap.xml" />
		<mapper resource="fr/gouv/diplomatie/applitutoriel/integration/dao/maps/Photo_SqlMap.xml" />
		<mapper resource="fr/gouv/diplomatie/applitutoriel/integration/dao/maps/Role_SqlMap.xml" />
	</mappers>
</configuration>
